{%extends 'base.html'%}
{%block extra-style%}
{%endblock%}
{%block title%}login{%endblock%}
{%block content%}
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="layout"></i></div>
                                Login
                            </h1>
                            <div class="page-header-subtitle">Please enter your id and password</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4">
            <div class="col-lg-5">
                <!-- Basic login form-->
                <div class="card shadow-lg border-0 rounded-lg mt-5">
                    <div class="card-header justify-content-center"><h3 class="fw-light my-4">Login</h3></div>
                    <div class="card-body">
                        {%if form.errors%}
                        <div class="alert alert-danger">
                            <div class="font-weight-bold"></div>
                            {{form.errors}}
                        </div>
                        {%endif%}
                        <!-- Login form-->
                        <form action="." method="post">{%csrf_token%}
                            <!-- Form Group (email address)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="username">ID</label>
                                <input class="form-control" id="username" type="text" placeholder="Enter your ID" name="username"/>
                            </div>
                            <!-- Form Group (password)-->
                            <div class="mb-3">
                                <label class="small mb-1" for="password">Password</label>
                                <input class="form-control" id="password" type="password" placeholder="Enter password" name="password"/>
                            </div>
                            <!-- Form Group (remember password checkbox)-->
                            <div class="mb-3">
                                <div class="form-check" style="display: none;">
                                    <input class="form-check-input" id="rememberPasswordCheck" type="checkbox" value="" />
                                    <label class="form-check-label" for="rememberPasswordCheck">Remember password</label>
                                </div>
                            </div>
                            <!-- Form Group (login box)-->
                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                <a class="small" href="#">Forgot Password?</a>
                                <button class="btn btn-primary mt-3 lift" type="submit">로그인</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="#">Need an account? Sign up!</a></div>
                    </div>
                </div>
        </div>
    </main>
    {%include 'footer.html'%}
{%endblock%}
