{%extends 'base.html'%}
{%block title%}업체조회{%endblock%}
{%block extra-style%}
{%endblock%}
{%block content%}
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="users"></i></div>
                                업체리스트
                            </h1>
                            <div class="page-header-subtitle">등록된 업체리스트를 조회합니다</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-n10">
            <div class="card mb-4">
                <div class="card-header">업체목록조회(실제업체와는 상관없는 무작위 데이터입니다)</div>
                <div class="card-body">
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <th>업체명</th>
                                <th>사업자번호</th>
                                <th>주소</th>
                                <th>업태</th>
                                <th>연락처</th>
                                <th>FAX</th>
                                <th>E-MAIL</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>업체명</th>
                                <th>사업자번호</th>
                                <th>주소</th>
                                <th>업태</th>
                                <th>Actions</th>
                            </tr>
                        </tfoot>
                        <tbody>
                            {%if object_list%}
                            {%for object in object_list%}
                            <tr>
                                <td>{{object.business_name}}</td>
                                <td>{{object.business_num}}</td>
                                <td>{{object.addr}}</td>
                                <td>{{object.cls}}</td>
                                <td>{{object.tel}}</td>
                                <td>{{object.fax}}</td>
                                <td>{{object.Email}}</td>
                                <td>
                                    <button class="btn btn-datatable btn-icon btn-transparent-dark me-2"><i data-feather="more-vertical"></i></button>
                                    <button class="btn btn-datatable btn-icon btn-transparent-dark"><i data-feather="trash-2"></i></button>
                                </td>
                            </tr>
                            {%endfor%}
                            {%endif%}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>
            
<script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
{%include 'footer.html'%}
{%endblock%}