{%extends 'base.html'%}
{%block title%}Books{%endblock%}
{%block extra-style%}
<style>
@media(max-width:769px){
    .detailinfo{
        display: none;
    }
    .detailtext{
        display: none;
    }
}
</style>
{%endblock%}
{%block content%}

<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="globe"></i></div>
                            {%for name in categorysname%}
                            {{name}} Books
                            </h1>
                            <div class="page-header-subtitle">{{name}}에 관련된 책에 관한 내용입니다 읽어본 책들만 나열하였고 전체적인 흐름을 주로 설명하였습니다</div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-n10">
            <div class="card mb-4">
                <div class="card-header">Site List</div>
                <div class="card-body">
                    <table class="table table-bordered table-condensed table-striped text-center">
                        <thead>
                            <tr>
                                <th>책명</th>
                                <th class="detailinfo">상세</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for object in object_list%}
                            <tr>
                                <td>{{object.book_name}}</td>
                                <td class="detailtext">{{object.book_detail}}</td>
                                <td>
                                    <a button class="btn btn-datatable btn-icon btn-transparent-dark" href="{{object.book_url}}" target='_blank' data-bs-toggle="tooltip" title="Link"><i data-feather="link"></i></a>
                                    <button data-type="copy" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" title="Copy"><i data-feather="copy"></i></button>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        
    </main>

    {%include 'footer.html'%}
{%endblock%}