{%extends 'base.html'%}
{%block title%}Sites{%endblock%}
{%block extra-style%}
<style>
@media(max-width:769px){
    .detailinfo{
        display: none;
    }
    .detailtext{
        display: none;
    }
}
</style>
{%endblock%}
{%block content%}
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="globe"></i></div>
                            {%for name in categorysname%}
                            {{name}} SITES

                            </h1>
                            <div class="page-header-subtitle">{{name}}에 관련된 사이트들 입니다 작업을 하면서 주로 보게된 사이트를 모았습니다</div>
                            {%endfor%}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-n10">
            <div class="card mb-4">
                <div class="card-header">Site List</div>
                <div class="card-body">
                    <table class="table table-bordered text-center">
                        <thead>
                            <tr>
                                <th>사이트명</th>
                                <th class="detailinfo">사이트상세</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for object in object_list%}
                            <tr>
                                <td>{{object.site_name}}</td>
                                <td class="detailtext">{{object.site_detail}}</td>
                                <td>
                                    <a button class="btn btn-datatable btn-icon btn-transparent-dark" href="{{object.site_url}}" target='_blank' data-bs-toggle="tooltip" title="Link"><i data-feather="link"></i></a>
                                    <button data-type="copy" class="btn btn-datatable btn-icon btn-transparent-dark" data-bs-toggle="tooltip" title="Copy"><i data-feather="copy"></i></button>
                                </td>
                            </tr>
                            {%endfor%}
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </main>
    {%include 'footer.html'%}
{%endblock%}