{%extends 'base.html'%}
{%block title%}홈이지머{%endblock%}
{%block content%}
    <div id="layoutSidenav_content">
        <main>
            <header class="py-10 mb-4" id="mainimage" >
                <div class="container-xl px-4">
                    <div class="">
                        <h1 class="title">Welcome to IT Yumhouse</h1>
                        <h4 class="powered"><br><br><i class="fa-solid fa-circle-info"></i> 개인편의 및 테스트용도 홈페이지입니다 <br>사용자등록시 별도의 개인정보는 저장하지 않습니다</h4>
                    </div>
                </div>
            </header>
            <!-- Main page content-->
            <div class="container-xl px-4">
                <h2 class="mt-5 mb-0">Hi</h2>
                <p>서버에 접속된 IP를 조회합니다 PC기준으로 게이트웨이 IP가 조회되고 휴대폰 및 5G환경은 유동IP입니다</p>
                <hr class="mt-0 mb-4" />
                <h2 class="mt-5 mb-0">Your Server</h2>
                <p>접속된 IP를 기준으로 서버를 조회합니다 운영중인 서버가 있다면 표시되어 집니다</p>
                <hr class="mt-0 mb-4" />
            </div>
        </div>
    </div>
        </main>
        {%include 'footer.html'%}
{%endblock%}
        