{%extends 'base.html'%}
{%block title%}Server H/W Dashboard{%endblock%}
{%block extra-style%}
<style>
 #miniinfo{
    column-count: 2;
 }



</style>
{%endblock%}
{%block content%}
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="activity"></i></div>
                                Dashboard - Server H/W
                            </h1>
                            <div class="page-header-subtitle">서버의 하드웨어 상태를 나타냅니다</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container-xl px-4 mt-n10">
            <div class="card mb-4">
                <div class="card-header">Active Connections</div>
                <div class="card-body" >
                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=185" width="100%" height="100%" frameborder="0"></iframe>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
            <div class="row">
                <div class="col-xxl-8">
                    <div class="card mb-4">
                        <div class="card-header border-bottom">
                            <ul class="nav nav-tabs card-header-tabs" id="dashboardNav" role="tablist">
                                <li class="nav-item me-1"><a class="nav-link active" id="overview-pill" href="#overview" data-bs-toggle="tab" role="tab" >System</a></li>
                                <li class="nav-item"><a class="nav-link" id="activities-pill" href="#activities" data-bs-toggle="tab" role="tab" >Disk</a></li>
                                <li class="nav-item"><a class="nav-link" id="activities-pill" href="#activities2" data-bs-toggle="tab" role="tab" >Overrall</a></li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="tab-content" id="dashboardNavContent">
                                <div class="tab-pane fade show active" id="overview" role="tabpanel">
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=7" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=156" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=13" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=175" width="100%" height="350px" frameborder="0"></iframe>
                                </div>
                                <div class="tab-pane fade" id="activities" role="tabpanel" >
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=168" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=174" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=161" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=160" width="100%" height="350px" frameborder="0"></iframe>
                                </div>
                                <div class="tab-pane fade" id="activities2" role="tabpanel" >
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=191" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=195" width="100%" height="350px" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=197" width="100%" height="350px" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body py-5">
                            <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=181" width="100%" height="100%" frameborder="0"></iframe>
                        </div>
                    </div>
                    <div class="card mb-4">
                        <div class="card-body py-5">
                            <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=158" width="100%" height="100%" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4">
                    <div class="row">
                        <div class="col-xl-6 col-xxl-12">
                            <div class="card mb-4">
                                <div class="card-header">Info</div>
                                <div class="card-body" id="miniinfo">
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=15" width="100%" height="30%" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=20" width="100%" height="30%" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=14" width="100%" height="30%" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=179" width="100%" height="30%" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=75" width="100%" height="30%" frameborder="0"></iframe>
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=178" width="100%" height="30%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 col-xxl-12">
                            <div class="card card-header-actions mb-4">
                                <div class="card-header">
                                    Progress
                                </div>
                                <div class="card-body">
                                    <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=177" width="100%" height="100%" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            ETC
                        </div>
                        <div class="card-body text-center p-5">
                            <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=183" width="100%" height="30%" frameborder="0"></iframe>
                            <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=157" width="100%" height="30%" frameborder="0"></iframe>
                            <iframe src="https://ityumhouse.com/grafana/d-solo/xfpJB9FGz/1-node-exporter-for-prometheus-dashboard-en-20201010?orgId=1&refresh=5s&theme=light&panelId=16" width="100%" height="30%" frameborder="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {%include 'footer.html'%}
{%endblock%}