{%extends 'base.html'%}
{%block title%}Server Net Dashboard{%endblock%}
{%block extra-style%}{%endblock%}
{%block content%}
<div id="layoutSidenav_content">
    <main>
        <header class="page-header page-header-dark bg-gradient-primary-to-secondary pb-10">
            <div class="container-xl px-4">
                <div class="page-header-content pt-4">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-auto mt-4">
                            <h1 class="page-header-title">
                                <div class="page-header-icon"><i data-feather="activity"></i></div>
                                Dashboard - Server Network
                            </h1>
                            <div class="page-header-subtitle">홈페이지의 네트워크를 나타냅니다</div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main page content-->
        <div class="container-xl px-4 mt-n10">
            <!-- Area chart example-->
            <div class="card mb-4">
                <div class="card-header">Active Connections</div>
                <div class="card-body" style="height: 300px;">
                    <iframe src="https://ityumhouse.com/grafana/d-solo/MsjffzSZz/nginx-exporter?orgId=1&refresh=5s&theme=light&panelId=12" width="100%" height="100%" frameborder="0"></iframe>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Total requests</div>
                <div class="card-body" style="height: 300px;">
                    <iframe src="https://ityumhouse.com/grafana/d-solo/MsjffzSZz/nginx-exporter?orgId=1&refresh=5s&theme=light&panelId=15" width="100%" height="100%" frameborder="0"></iframe>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
            <div class="card mb-4">
                <div class="card-header">Processed connections</div>
                <div class="card-body" style="height: 300px;">
                    <iframe src="https://ityumhouse.com/grafana/d-solo/MsjffzSZz/nginx-exporter?orgId=1&theme=light&panelId=10" width="100%" height="100%" frameborder="0"></iframe>
                </div>
                <div class="card-footer small text-muted"></div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">Bar Chart Example</div>
                        <div class="card-body">
                            <div class="chart-bar"><canvas id="myBarChart" width="100%" height="50"></canvas></div>
                        </div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">Pie Chart Example</div>
                        <div class="card-body">
                            <div class="chart-pie"><canvas id="myPieChart" width="100%" height="50"></canvas></div>
                        </div>
                        <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
                    </div>
                </div>
            </div> -->
        </div>
    </main>
{%include 'footer.html'%}
{%endblock%}